:root {
	--bg-color: rgb(13, 24, 39);
	--contrast-color: #3d65bd;
	--btn-active-color: #e7880c;
	--btn-color: rgb(255, 204, 108);
}

body {
	background-color: var(--bg-color);
	color: black;
	font-family: 'Oxygen', sans-serif;
}

.titulo {
	color: white;
	text-align: center;
	transition: 150ms;
}

#title-text {
	transition: 150ms;
}

.titulo:hover {
	background-color: var(--contrast-color);
	cursor: pointer;
}

#lista-productos {
	margin: auto;
}

.producto,
th {
	color: white;
	padding: 2rem;
}

.block-vacio {
	visibility: hidden;
}

.producto {
	background-color: rgb(44, 56, 83);
	height: 3rem;
}

.producto:hover {
	background-color: rgb(38, 45, 65);
}

td {
	height: 40px;
	width: 250px;
	text-align: center;
}

.imagen {
	width: 50px;
}

.hover{
	transition: 250ms;
}

.hover:hover{
	transform: scale(150%);
}

.btn {
	background-color: var(--btn-color);
	border: none;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition: 250ms;
}

.boton-div {
	text-align: center;
	width: 150px;
	max-width: 150px;
	max-height: 75%;
}

button {
	padding: 50px;
}
button:hover{
	background-color: #8b6c44;
}

.btn:hover {
	
}
