:root {
	--bg-color: rgb(16, 32, 54) ;
	--contrast-color: #44609b;
	--btn-active-color: #e7880c;
	--btn-color: rgb(255, 179, 38);
}

body {
	background-color: var(--bg-color);
	font-family: 'Oxygen', sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;

}

#titulo-pag:hover{
	cursor: pointer;

}

.titulo {
	color: white;
	text-align: center;
}

#lista-productos {
	margin: auto;
}

tr{
	text-align: center;
}

th{
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
}

td {
	text-align: center;
	width: 150px;
	
}

.producto {
	background-color: var(--contrast-color);
	height: 60px;
}

.imagen {
	width: 40px;
}

.precio-div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items:center;
}

.precio{
	align-self: center;
}

.boton-div{
	padding: 15px;
}

.btn{	
	float: right;
	padding: 15px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	transition: 150ms;
}

.btn:hover{
	background-color: #95b7ff;
}

.btn:active{
	background-color: #6d8dd1;
}